<footer class="bg-main-light p-3">
<div class="container">
    <h2 class="text-capitalize">get the fresh cart app!</h2>
    <p class="text-muted">we will  send you a link</p>
    <div class="d-flex">
        <input type="email " class="form-control h-25" placeholder="Email...">
        <button class="btn-main text-capitalize flex-shrink-0 ">share app link</button>
    </div>
    <P class="text-capitalize h5">download app</P>
    <img src="../../../assets/images/Google_Play_Store_badge_EN.svg.png" class="p-1" width="150px" alt="">
    <img src="../../../assets/images/App-Store-Button-transparent.png" class="p-1" width="140px" alt="">
</div>



</footer>