<section  *ngIf="step1"  class="w-75 mx-auto rounded bg-main-light p-3 shadow">
    <form [formGroup]="forgetform"  (ngSubmit)="forgetPassword()">
        <label for="email">email</label>
        <input formControlName="email" type="email" class="form-control" id="email">
        <button class="btn-main text-capitalize mt-3">get verification code</button>
        <p *ngIf="userMessage" class="alert alert-danger w-75 mx-auto p-1 mb-0"> {{userMessage}} </p>
    </form>
</section>


<section *ngIf="step2" class="w-75 mx-auto rounded bg-main-light p-3 shadow my-5">
    <form [formGroup]="resetCodeform" (ngSubmit)="resetCode()">
        <label for="resetCode">Reset Code</label>
        <input formControlName="resetCode" type="text" class="form-control" id="resetCode">
        <button class="btn-main text-capitalize mt-3">reset code</button>
        <p *ngIf="userMessage" class="alert alert-danger w-75 mx-auto p-1 mb-0"> {{userMessage}} </p>

    </form>
</section>


<section *ngIf="step3" class="w-75 mx-auto rounded bg-main-light p-3 shadow my-5">
    <form [formGroup]="resetPasswordform" (ngSubmit)="newPassword()" >
        <label for="newPassword">Reset password</label>
        <input formControlName="newPassword" type="password" class="form-control" id="newPassword">
        <button #inputPassword class="btn-main text-capitalize mt-3">reset password</button>
        <div class="alert alert-danger" *ngIf="resetPasswordform.get('newPassword')?.errors && (resetPasswordform.get('newPassword')?.touched || inputPassword.value.length>0)"> 
            <p *ngIf="resetPasswordform.get('newPassword')?.getError('required')">password required</p>
            <p *ngIf="resetPasswordform.get('newPassword')?.getError('pattern')"> password must start with upperCase then from 6 to 20</p>
         </div>
        <p *ngIf="userMessage" class="alert alert-danger w-75 mx-auto p-1 mb-0"> {{userMessage}} </p>

    </form>
</section>